[class] {
  outline: 1px solid transparent;
}

.scrollbarLight::-webkit-scrollbar {
  width: 8px;
}

.scrollbarLight::-webkit-scrollbar-thumb {
  background: #805ad5;
  border-radius: 3px;
}

.scrollbarLight::-webkit-scrollbar-corner {
  background: #f7fafc;
}

.scrollbarDark::-webkit-scrollbar {
  width: 8px;
}

.scrollbarDark::-webkit-scrollbar-thumb {
  background: #d6bcfa;
  border-radius: 3px;
}

.scrollbarDark::-webkit-scrollbar-corner {
  background: #171923;
}

.linkButton:hover {
  text-decoration: none;
}
